@import "tailwindcss";

:root {
  --background: #232829;
  --foreground: #ffffff;

  --font-sans: var(--font-montserrat);
  --font-heading: var(--font-raleway);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-sans),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
